<div class="form-wrapper">
  <%= form_for(@family_group) do |f| %>
    <% if @family_group.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@family_group.errors.count, "error") %> prohibited this family_group from being saved:</h2>

        <ul>
        <% @family_group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label 'Nombre de la familia:', :class => "col-lg-4 control-label" %>
      <div class="col-lg-8">
        <%= f.text_field :family_name, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit "Crear", :class => "btn btn-default" %>
      </div>
    </div>

  <% end %>
</div>
