<p id="notice"><%= notice %></p>

<div class="center">
	<h1><%= @family_group.family_name %></h1>
</div>

<div class="patients">
	<% @family_group.patients.each do |patient| %> 
		<div class="patient-container">
	  		<h3><%= link_to patient.firstname+" "+patient.father_lastname, patient %></h3>
	  		<%= link_to image_tag(patient.avatar.url, :border=>0), patient, :id => patient.id %>
	  	</div>
	<% end %>
</div>


 <div class="item_container_tag">
    <%= form_tag({:controller => "family_groups", :action => "add_patient_to_group", :family_group => @family_group.id}, :method => "post") do %>
    <p><strong>Nuevo Paciente:</strong><%= select("patient", "id", Patient.all.collect {|p| [ p.firstname+" "+p.father_lastname, p.id ] }) %><%= submit_tag 'Agregar' %></p>
    <% end %>
  </div>

<br>

<%= link_to 'Editar', edit_family_group_path(@family_group) %>
<%= link_to 'Atras', family_groups_path %>
