<p id="notice"><%= notice %></p>

<div class="people-container">
  <div class="people-container-left">
      <%= image_tag(@patient.avatar.url(:small)) %>
  </div>
  <div class="people-container-right">
      <p> <strong>Nombre:</strong> <%= @patient.firstname+" "+@patient.secondname+" "+@patient.father_lastname+" "+@patient.mother_lastname%></p>
      <p> <strong>Fecha de nacimiento:</strong> <%=@patient.born_date.strftime("%d/%m/%Y") %></p>
      <p><strong>Sexo: </strong><%=@patient.sex %></p>
      <p><strong>Dirección: </strong><%=@patient.home_adress%></p>
      <p><strong>Teléfono del paciente: </strong><%=@patient.phone_number%></p>
      <p><strong>Telefono de contacto: </strong><%=@patient.contact_number%></p>
  </div>
</div>

<br>

<%= link_to 'Editar', edit_patient_path(@patient) %> |
<%= link_to 'Atras', patients_path %>
