<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :secondname %><br>
    <%= f.text_field :secondname %>
  </div>
  <div class="field">
    <%= f.label :father_lastname %><br>
    <%= f.text_field :father_lastname %>
  </div>
  <div class="field">
    <%= f.label :mother_lastname %><br>
    <%= f.text_field :mother_lastname %>
  </div>
  <div class="field">
    <%= f.label :born_date %><br>
    <%= f.date_select :born_date %>
  </div>
  <div class="field">
    <%= f.label :sex %><br>
    <%= f.check_box :sex %>
  </div>
  <div class="field">
    <%= f.label :home_adress %><br>
    <%= f.text_area :home_adress %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :contact_number %><br>
    <%= f.text_field :contact_number %>
  </div>
  <div class="field">
    <%= f.label :genogram_url %><br>
    <%= f.text_field :genogram_url %>
  </div>
  <div class="field">
    <%= f.label :record_url %><br>
    <%= f.text_field :record_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
