<h1>Listing patients</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Secondname</th>
      <th>Father lastname</th>
      <th>Mother lastname</th>
      <th>Born date</th>
      <th>Sex</th>
      <th>Home adress</th>
      <th>Phone number</th>
      <th>Contact number</th>
      <th>Genogram url</th>
      <th>Record url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.firstname %></td>
        <td><%= patient.secondname %></td>
        <td><%= patient.father_lastname %></td>
        <td><%= patient.mother_lastname %></td>
        <td><%= patient.born_date %></td>
        <td><%= patient.sex %></td>
        <td><%= patient.home_adress %></td>
        <td><%= patient.phone_number %></td>
        <td><%= patient.contact_number %></td>
        <td><%= patient.genogram_url %></td>
        <td><%= patient.record_url %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
