<%= form_for (@user), :html => {:class => 'form-horizontal'} do |f| %>

<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="people-container">
<div class="form-group">
  <div class="col-md-6">
  <%= image_tag(@user.avatar.url(:small)) %>
</div>
      <div class="col-md-6">
        <%= f.file_field :avatar, :class => "" %>
      </div>
    </div>


  <div class="controls">

    <%= f.label "Primer nombre", :class => "col-md-6 control-label" %>
    <%= f.text_field :firstname, :class => "col-md-6 input-xlarge" %>
  </div>
  <div class="controls">

    <%= f.label "Segundo nombre", :class => "col-md-6 control-label" %>
    <%= f.text_field :secondname, :class => "col-md-6 input-xlarge" %>
  </div>
  <div class="controls">

    <%= f.label "Apellido paterno", :class => "col-md-6 control-label" %>
    <%= f.text_field :father_lastname, :class => "col-md-6 input-xlarge" %>
  </div>      
  <div class="controls">

    <%= f.label "Apellido materno", :class => "col-md-6 control-label" %>
    <%= f.text_field :mother_lastname, :class => "col-md-6 input-xlarge" %>
  </div>
  <div class="controls">

    <%= f.label "Número de telefono", :class => "col-md-6 control-label" %>
    <%= f.number_field :phone_number, :class => "col-md-6 input-xlarge" %>
  </div>
  <div class="controls">

    <%= f.label "Especialidad", :class => "col-md-6 control-label" %>
    <%= f.text_field :speciality, :class => "col-md-6 input-xlarge" %>
  </div>
  <div class="controls">

    <%= f.label "Correo", :class => "col-md-6 control-label" %>
    <%= f.text_field :email, :class => "col-md-6 input-xlarge" %>
  </div>
  <div class="controls">

    <%= f.label "Contraseña", :class => "col-md-6 control-label" %>
    <%= f.password_field :password, :class => "col-md-6 input-xlarge" %>
  </div>
  <div class="controls">

    <%= f.label "Confirma contraseña:", :class => "col-md-6 control-label" %>
    <%= f.password_field :password_confirmation, :class => "col-md-6 input-xlarge" %>
  </div>
  <div class="controls col-md-12 ">
    <%= f.submit "Registrar", :class => "pull-right btn btn-success" %>
  </div>
  <br><br>
</div>

<% end %>

