<p id="notice"><%= notice %></p>
<div class="col-md-2 text-center">
  <h1>PERFIL<br/> EQUIPO</h1>
</div>
<div class="col-md-10">
<div class="people-container">
      <%= image_tag(@user.avatar.url(:small)) %>
  
      <p> <strong>Nombre:</strong> <%= @user.firstname+" "+@user.secondname+" "+@user.father_lastname+" "+@user.mother_lastname%></p>
      <p><strong>Especialidad: </strong><%=@user.speciality %></p>
      <p><strong>Correo: </strong><%=@user.email%></p>
      <p><strong>Teléfono: </strong><%=@user.phone_number%></p>
</div>

<br>
<div class="text-center">
<%= link_to '< Volver', users_path %> |
<%= link_to 'Editar', edit_user_path(@user) %> 

</div>
</div>