<p id="notice"><%= notice %></p>

<p>
  <strong>Objetivo Familiar:</strong>
  <%= @plan.family_objective %>
</p>

<p>
  <strong>Objetivo Clinico:</strong>
  <%= @plan.clinical_objective %>
</p>

<p>
  <strong>FActor de Riesgo:</strong>
  <%= @plan.risk_factor %>
</p>
<p>
  <strong>Estado:</strong>
  <%= @plan.state %>
</p>
<p>
  <strong>Tipo de plan:</strong>
  <%= @plan.plan_type %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
