<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @plan.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @plan.end %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @plan.owner_id %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
